@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pastikan body mengisi layar penuh */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #f0fdf4; /* nature-50 */
}